<div class="card mt-4">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur repudiandae fugiat vero beatae dignissimos, quibusdam quod inventore minus, mollitia dolore libero iure tempora quae? Perferendis aspernatur magnam nulla, quo doloremque quae nihil, cupiditate assumenda quisquam sapiente id reprehenderit, reiciendis quod.</p>
    </div>
</div>